import { z } from 'zod';

export const {{modelNamePascalCase}}Schema = z.object({
    {{#each fields}}
    {{this.name}}: {{this.validation}},
    {{/each}}
});

export type {{modelNamePascalCase}} = z.infer<typeof {{modelNamePascalCase}}Schema>;
